/* Navbar */
.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
}

/* Hero principal */
.hero-section {

  height: 100vh;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://images.unsplash.com/photo-1488459716781-31db52582fe9?q=80&w=2070');

  background-size: cover;
  background-position: center;
}

/* Links navbar */
.nav-link {
  color: white !important;
  font-weight: 500;
  margin-left: 15px;
}

/* Hover links */
.nav-link:hover {
  color: #ffc107 !important;
}